@import "tailwindcss";

/* #region Defaults */
:root {
  --tx-1: #e0e0e0;
  --tx-2: #c7c7d9;

  --ac-1: #7fc8ff;
  --ac-2: #ffd27d;

  --bg-1: #1f1f3c;
  --bg-2: #0b0b1b;

  --allura: 'Allura', cursive;
}

.allura{
  font-family: var(--allura);
}

* {
  scroll-behavior: smooth;
  cursor: none !important;
}

body::-webkit-scrollbar{
  display: none;
}

body {
  background: url('https://www.transparenttextures.com/patterns/stardust.png'), linear-gradient(to bottom, var(--bg-2), var(--bg-1));
  background-attachment: fixed;
  background-color: var(--bg-2);
  color: var(--tx-1);
  min-height: 100svh;
}

.mouse-follower{
  color: var(--tx-1);
  background-color: var(--tx-2);
  filter: drop-shadow(0 0 20px var(--tx-2));
}

::view-transition-old(page) {
  animation: fade-out 0.75s ease-in-out;
}

::view-transition-new(page) {
  animation: fade-in 0.75s ease-in-out;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* #endregion */


/* #region Header and Hero Section */
header{
  text-align: center;
  top: 0px;
  z-index: 40;
}
header h1{
  font-family: var(--allura);
  font-size: clamp(35px, 5vw, 56px);
  font-weight: bold;
  letter-spacing: 0.15em;
  backdrop-filter: blur(1px);
  width: 100%;
  padding-top: 0.5rem;  
}

.constellation {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.15));
  will-change: transform;
  cursor: pointer;
}

.constellation .star {
  fill: var(--tx-1);
  z-index: 2;
}

.constellation .line {
  stroke: var(--tx-2);
  stroke-width: 1.5;
  z-index: 1;
}

.constellation .label {
  color: var(--ac-2);
  font-size: 16px;
  font-weight: bold;
}
/* #endregion */
