@import "tailwindcss";

/* #region Defaults */
:root {
  --tx-primary: #e0e0e0;
  --tx-secondary: #b8b8f0;
  --bg-light: #1f1f3c;
  --bg-dark: #0b0b1b;

  --allura: 'Allura', cursive;
  
}

.allura{
  font-family: var(--allura);
}

* {
  scroll-behavior: smooth;
  cursor: none !important;
}

body::-webkit-scrollbar{
  display: none;
}


body {
  background: url('https://www.transparenttextures.com/patterns/stardust.png'), linear-gradient(to bottom, var(--bg-dark), var(--bg-light));
  background-attachment: fixed;
  background-color: var(--bg-dark);
  color: var(--tx-primary);
  min-height: 100svh;
}
/* #endregion */


/* #region Header and Hero Section */
header{
  text-align: center;
  top: 0px;
  z-index: 40;
}
header h1{
  font-size: clamp(32px, 5vw, 56px);
  font-weight: bold;
  letter-spacing: 0.25em;
  text-shadow: 0 0 .2em var(--tx-primary);
  backdrop-filter: blur(1px);
  width: 100%;
  padding-top: 0.5rem;  
}
/* #endregion */
